<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Movie Added</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
<div align="center">
    <h2>Movie Added Successfully!</h2>
    <span>Genre:</span><span th:text="${model.genre}"></span><br/>
    <span>Title:</span><span th:text="${model.title}"></span><br/>
    <span>Actor:</span><span th:text="${model.actor}"></span><br/>
    <span>Year:</span><span th:text="${model.year}"></span><br/>
    <span>Rating:</span><span th:text="${model.rating}"></span><br/>

</div>
</body>
</html>